.swiper-wrapper {
    box-sizing: inherit !important;
    width: 90% !important;
    margin: 0 auto;
  }
  
  .swiper-button-next, .swiper-button-prev {
    color: #7743DB !important;
    opacity: 0.5 !important;
  }
  